<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>
    <title>What is The Dream Workplace - About us!</title>
</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--About Hero -->
    <div class="independent-hero about">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-6 col-sm-10">
                    <h2 class="col-lg-9 display-4 fw-bold lh-1 mb-4"><%= mainArea %> </h2>
                    <h4 class="fw-bold mb-4"><em><%= oneLiner %></em></h4>
                    <p class="lead details"><%= aBitMore %></p>
                </div>
            </div>
        </div>
    </div>

    <!--Second Section -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-10 col-sm-10 mb-3 faq-holder">
                    <h2 class="col-lg-12 lh-1 mb-3 d-inline display-4">Tell me more about the survey</h2>
                    <p class="lead mt-5 col-lg-8 details" ><%= details %></p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Third Section -->
    <div class="alternate-container">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-10 col-sm-10 mb-3 faq-holder">
                    <h2 class="col-lg-12 lh-1 mb-3 display-4">Who is the ideal audience</h2>
                    <img src="/img/audience.png" class="col-lg-8" width="30%" height="auto">
                    <p class="lead mt-5 col-lg-8 details"><%= audience %></p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Fourth Section -->
    <div class="example-container">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-10 col-sm-10 mb-3 faq-holder">
                    <h2 class="col-lg-12 lh-1 mb-3 display-4">What are the areas covered</h2>
                    <p class="lead mt-5 col-lg-8 details"><%= areasCovered %></p>
                </div>
            </div>
        </div>
    </div>

    <!--Surveys-->
    <%- include ('partials/areaFooter.ejs') %>


    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
