<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>Assess your workplace with our comprehensive and customized surveys</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Surveys Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-row align-items-center g-5 py-4">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-12 display-6 fw-bold lh-1 mb-3">World's Most Comprehensive, <br>World's First Ever Customized, <br>Talent Surveys <br> </h2>
                    <p class="lead fw-bold">Measure your talent engage, and make it better</p>
                    <p class="lead">As a CEO or manager, do you want to truly understand your team's needs and aspirations? Our innovative 4-dimensional approach, backed by our TIKs methodology, helps you uncover the "what," "why," "when," and "how" of your talent's thoughts. Elevate your leadership by gaining a comprehensive understanding of your team.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#categories"><button type="button" class="btn btn-primary  px-4 me-md-2">Select your survey</button></a>
                        <a href="#different"><button type="button" class="btn btn-outline-secondary  px-4">Our differentiation</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Survey Categories -->
    <div class="container py-3" id="categories">
        <div class="container">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h2 class="display-4 fw-normal">Our Surveys</h2>
                    <p class="fs-5 text-muted">We offer three surveys - the world's most comprehensive survey, focused surveys that measure the strength of each area of talent, and aspiration surveys that tell you more about the needs of your talent.</p>
                </div>
            </header>

            <main class="container row">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Comprehensive Survey</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Our most comprehensive survey conducted your entire talent</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Across all areas</li>
                                    <li>For all employees</li>
                                    <li>Timeline: 2 Weeks</li>
                                    <li>1 Free Survey</li>
                                    <li>Frequency: 2 to 4 per year</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Focused Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Focused surveys across each areas of talent value chain</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>20+ Areas</li>
                                    <li>Focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>1 Free Survey</li>
                                    <li>Frequency - 1 to 2 per year</li>
                                </ul>
                                <a href="#survey-details"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Aspiration Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Surveys focused on aspirations, needs, and leadership</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>~5 Surveys</li>
                                    <li>Focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>1 Free Survey</li>
                                    <li>Frequency - 1 to 2 per year</li>
                                </ul>
                                <a href="#aspiration"><button type="button" class="w-100 btn  btn-primary">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>

    <!--Survey Differentiation -->
    <div style="border:1px solid #DDDDDD; background-color:#DDD" id="different">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-lg-8">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">What makes our surveys different</h2>
                    <p class="lead fw-bold">Customized, comprehensive, curated - that is why.</p>
                    <p class="lead">We recognize that every organization has its unique culture, needs, and aspirations. That's why we've created the world's first curated and customized talent survey that comprehensively covers every practice area in the talent value chain, from onboarding to offboarding. With our survey, no aspect of talent management is overlooked. We take pride in offering a truly comprehensive and unparalleled approach that sets us apart from other surveys in the market.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#comprehensive"><button type="button" class="btn btn-primary  px-4 me-md-2">Comprehensive Surveys</button></a>
                        <a href="#survey-details"><button type="button" class="btn btn-secondary  px-4 me-md-2">Focused Surveys</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Comprehensive Survey Section -->
    <div style="border:1px solid #DDDDDD" id="comprehensive">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="/img/survey.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="auto" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">The world's most comprehensive talent engagement survey</h2>
                    <p class="lead fw-bold">Measure everything from how your talent is engaged, to how you can meet their needs and aspirations</p>
                    <p class="lead">Experience the world's most comprehensive survey, designed to focus on the 12 essential themes we've identified for today's talent. Whether you're a CEO, CHRO, or team lead looking to understand engagement across your organization or team, our survey, powered by our TIKs approach, is perfect for you. Gain valuable insights and elevate your understanding of talent engagement.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/surveyForm"><button type="button" class="btn btn-primary  px-4 me-md-2">I am interested...</button></a>
                        <a href="/pricing"><button type="button" class="btn btn-secondary  px-4 me-md-2">What's the cost?</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Focused Surveys -->
    <div class="example-coontainer" id="survey-details">
        <div class="container col-xxl-8 px-4 py-3" id="content">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-12 col-sm-10 ">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">Take our focused surveys</h2>
                    <p class="lead">Our targeted surveys assess all areas of the talent lifecycle, from hiring to onboarding to off-boarding. Gain insights into the strength of your organization in each area with our customized surveys, tailored to meet your specific needs. Designed for CHROs who aspire to build the best talent team in the world, our focused surveys are administered to a select audience, providing valuable insights for strategic talent management. Contact us now to unlock the full potential of your talent team.</p>
                    <div class="row">
                        <% areaDetails.forEach(function(area) { %>
                        <div class="area-holder col-lg-4 col-sm-12">
                            <div class="area-holder-sub px-2 py-2 my-2 align-content-between flex-wrap d-flex" style="border:1px solid #BBB; min-height:240px">
                                <h4 class="col-lg-9  mb-2"><%= area["MainArea"] %></h4>
                                <p class="col-lg-12 lh-2 mb-3"><%= area["One Liner"] %></p>
                                <% const link = "/details/" + area["Area"]; %>
                                <a target="_blank" href=<%= link %>><button type="button" class="btn btn-primary">Learn More</button></a>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Aspiration Surveys -->
    <div style="border:1px solid #DDDDDD" id="aspiration">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="/img/aspiration.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="auto" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">Aspiration Surveys</h2>
                    <p class="lead fw-bold">Understand the aspirations and needs of your employees</p>
                    <p class="lead">Whether you're a CEO of a large organization or a team lead of a small team, understanding the aspirations of your organization or team is crucial. Our aspiration surveys, the world's first of their kind, are designed with you in mind. Backed by our 4-dimensional approach, which considers multiple perspectives and views, our surveys reveal what your talent truly thinks about leadership and their growth aspirations. Gain invaluable insights to shape your leadership strategies and empower your talent.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/surveys"><button type="button" class="btn btn-primary  px-4 me-md-2">I am interested</button></a>
                        <a href="/pricing"><button type="button" class="btn btn-secondary  px-4 me-md-2">What's the cost?</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Surveys Detail -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-2" id="content">
            <div class="row flex-row align-items-center g-5 py-3">
                <div class="col-lg-8 col-sm-10 ">
                    
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">A bit more about our surveys</h2>

                    <h4 class="col-lg-9 lh-1 mb-3">What makes our surveys unique?</h4>
                    <p class="col-lg-12 lh-3 lead mb-3">We do not just show you the what - but also the why, when, and how things are the way they are. But they are unique because of another reason. We employ a unique 4-dimensional approach backed by our own unique TIKs (our secret ingredient, reach out to us to learn more). We not only collect responses from a wide variety of audience for a variety of questions, we also get inputs from the managers and the leadership, and juxtapose it with for doing an in-depth analysis for each organization. So, there is no more biased results - it is a combination of the inputs from all the relevant stakeholders that matter.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">What all surveys do you adminisiter?</h4>
                    <p class="col-lg-12 lh-3 lead mb-3">We offer three options - 1) small, focused surveys for specific areas which are ready-made or can be customized to your own needs; 2) the world's most comprehensive talent engagement survey; and 3) aspiration surveys that measure the aspirations and needs of your employees.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">Who all should be care about this survey?</h4>
                    <p class="col-lg-12 lh-3 lead mb-3">The survey is ideal anyone who cares about their talent. If you are the CEO , or  if you the team lead for a small team, and if you really want to understand your team and your talent better, take one of our surveys that is built for your needs.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">Is the survey anonymous?</h4>
                    <p class="col-lg-12 lh-3 lead mb-3">Yes. We are serious about letting people provide sincere feedback, and we believe that anonymous surveys are currently the best way for that. We do track responses, so that we can nudge more people to respond, but we use an anonymity shield to prevent the organizations from seeing individual resposnes. Even with multiple cuts and slices, the individual responses will remain anonymous. That is our promise.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">How do you conduct the survey?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">Once you select the survey, we will reach out to you to understand your basic requirements and curate the survey as per your needs. If you want one of our ready-made services, or you want to leverage the world's largest talent survey, we can shortwire this discussion. After we reach a mutual agreement, we will share the survey with a custom link to the set of people identified by you. It will be an individual mail. The responses will be anonymous to drive open feedback. We ideally would want the survey to be run for a period of two weeks, but you can reduce it to by a maximum of one week. Once the survey is complete, we will take one or two weeks to process the results and we will share the same with you along with a detailed analysis.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">Who will be the audience?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">The audience will depend on survey that you choose. For the focused surveys, it will be a mix of the employees, the HR team, the managers, the leaders, and a select set of other audience. For the comprhensive surveys, it will be all the employees. While the surveys will be anonymous, it will collect an unique ID - such as employee ID, name, email ID etc. This will help us not only track the responses, and also give a nudge to the people who may not have responded.</p>


                    <h4 class="col-lg-9 lh-1 mb-3">Is everything free?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">No, the first survey is free. We are building our pricing plans, and we will share with you the details over a call. Hey, we are an aspiring business, and we need money as much as we need customers to grow.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">How long will be the surveys?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">We recommend the surveys are administered for a period of two weeks. If you desire something that is shorter, we are afraid that we will lose out on getting responses from people who may be away, or may be busy. Anything longer, and we are sure that you will not get more responses that will substantiate the increase in time. Oh, by the way, each survey may take anything from 5 minutes to 45 minutes - based on the survey that you choose.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">What will I get from the assessment?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">You will get a customized report that will detail out your strong areas and weak areas based on the response. We would also share some best practices which we believe can improve the scores going forward. We will stop there as we do not offer any consulting approach. Once we get the suffiient volume, we will add benchmarks.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">Is our data safe?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">Your data is completely safe and we will not mention your information to anyone - either in the public domain or in any private conversation. You can trust us on that. Each individual responses are deleted after the contractual period.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">Who are your existing clients?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">Like we said, we are a startup, and we are building on increasing our clientele. We wourld like to tell you some names that will blow your mind away, but hey, let us wait for a while.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">Why are you using Google Forms?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">We are a start-up, remember. And we are figuring out the best survey platforms out there. And in the long run, we want to build our own survey platform. In the meanwhile, we want to keep our costs in control and hence we want to leverage the ease, power, and flexibility of Google - which is not just scalable, but also secure and trust-worthy. And there is also the small feature about cost - The Basic plan of SurveyMonkey with limited features and with an upper limit of only 1,000 responses per month costs nearly INR 8000 - we would rather spend that money on building content and adding more examples.</p>

                    <h4 class="col-lg-9 lh-1 mb-3">How can I start the survey?</h4>
                    <p class="col-lg-12 lh-3 lead mb-2">Just fill out this <a href="/surveyForm" target="_blank">form</a> or you can drop us a mail us at <a href="mailto:contactus@thedreamworkplace.com">contactus@thedreamworkplace.com</a> for more details.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
